/*
*hide anti spam field
*/
#block-easysignup-easysignup .form-item-spm {
    display: none;
}

/*
*drop down icon
*/
/*#block-easysignup-easysignup legend.panel-heading a {
    background-image: url(assets/settings.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
}*/